version: 2.1

orbs:
  bitcart: bitcart/bitcart-shared@2

jobs:
  publish:
    docker:
      - image: cimg/python:3.8

    working_directory: ~/repo

    steps:
      - checkout

      - run:
          name: publish locale source
          command: |
            sudo scripts/install-client.sh
            ./tx push -s

workflows:
  version: 2
  test:
    jobs:
      - bitcart/lint:
          name: lint
          executor: bitcart/python-node
          pre-steps:
            - checkout
            - bitcart/install-node-dependencies
      - publish:
          context: global
          requires:
            - lint
          filters:
            branches:
              only: master
